@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,900');

body {
  position: relative;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 150px;
}

.App {
  text-align: center;
  padding-bottom: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
  height: 55px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.2em;
  font-weight: 400;
  /*letter-spacing: 10px;*/
  text-align: center;
  font-size: 36px;
  padding-top: 80px;
}

.App-intro {
  font-size: large;
}

footer {
  height: 45px;
  width: 100%;
  position:fixed;
  bottom: 0;
  background-color: #000000;
  /*background: rgba(73,155,234,1);
  background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );*/

}

footer p {
  margin-top: 13px;
  color: darkgray;
  color: white;
}

#overlay {

position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.8);;
height: 100%;
z-index: 1;
text-align: center;
color: white;
font-weight: 200;
font-size: 24px;
}

.active {
  display: block;
}

.hidden {
  display: none;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.slideUp {
  /*margin-top: -10000px;*/
  animation: clear-result 1 5s ease-out;
  /*margin-top: -16000px;*/
  /*display: none;*/
}

.slided {

  /*max-height: 500px;*/
  /*overflow: hidden;*/
}

@keyframes clear-result {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    /*margin-bottom: -10000px;*/
    transform: translateY(3000px);
    opacity: 0;
  }
}

@-webkit-keyframes clear-result {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(3000px);
    opacity: 0.3;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
  margin: 0 auto;
  margin-top: 10.5%;
  margin-bottom: 25px;

}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
