.search-bar form {



}

.search-bar label {

  display: block;
  font-size: 26px;
  margin-top: 130px;
}

.search-textfield {
  display: inline-block;
  font-size: 22px;
  margin-top: 40px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  width: 50%;
  height: 50px;
  border: none;
  -webkit-border-radius: 43px;
  border-radius: 43px;
  color: #6d6d6d;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 1px 0px 5px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 0px 5px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  outline-color: rgba(0,142,198,1);
  outline-width: 0px;
}

.search-textfield:focus {

  background-color: black;
  color: white;

}

.search-bar input:focus {

  /*-webkit-border-radius: 43px;
  border-radius: 43px;*/
  border: 1px solid #F1F1F1;


}

.search-submit {
  display: inline-block;
  font-size: 22px;
  height: 50px;
  margin-left: -100px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  background-color: rgba(32,124,229,1);
  color: white;
  font-weight: 700;
  -webkit-border-radius: 43px;
  border-radius: 43px;

  -webkit-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);




}

.search-submit:hover{

  background-color: white;
  color:black;
}
