.search-bar form {



}

.search-bar label {

  /*display: inline-block;*/
  display: block;
  font-size: 26px;
  margin-top: 130px;
}

.search-textfield {
  display: inline-block;
  font-size: 22px;
  margin-top: 40px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  width: 50%;
  height: 50px;
  border: none;
  -webkit-border-radius: 43px;
  border-radius: 43px;
  color: white;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 1px 0px 5px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 0px 5px 0 rgba(0,0,0,0.3) ;
  /*text-shadow: 1px 1px 0 rgba(255,255,255,0.66);*/
  -webkit-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  outline-color: rgba(0,142,198,1);
  outline-width: 0px;


  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );

}

.search-textfield::placeholder {
  color: rgb(139, 193, 255);
}

.search-textfield:focus {

  background-color: black;
  color: white;
  /*text-transform: capitalize;*/

}

.search-bar input:focus {

  /*-webkit-border-radius: 43px;
  border-radius: 43px;*/
  border: 1px solid #F1F1F1;


}

.search-submit {
  display: inline-block;
  font-size: 22px;
  height: 50px;
  margin-left: -100px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-weight: 700;
  -webkit-border-radius: 43px;
  border-radius: 43px;
  /*text-transform: uppercase;*/

  -webkit-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: background-color 200ms cubic-bezier(0.42, 0, 0.58, 1);




}

.search-submit:hover{

  background-color: rgba(0,37,81,1);
  color:white;
}

.message-status {

  /*border:*/
  color: green;

}

.message-results{
  /*text-align: left;*/
  color: cornflowerblue;

}

.message-data {

  display: inline-block;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 2px dashed #e6e6e6;
  background-color: #f5f5f5;
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 960px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.search-app {
  /*overflow: auto;*/
}
